@{
    ViewData["Title"] = "Books";
   
}


<div class="grid grid-cols-5 w-[1000px] mx-auto gap-10">
   @*
    <ul>
    @foreach (var book in ViewBag.books)
    {
        <li>
            <a href="">
            <h2>@book.Title</h2> 
            <p>@book.Description</p>
            <p>@if(book.AvailableStatus) {<p>Available</p>}</p>
            </a>
        </li>
    }
    </ul> *@
    <div class="col-span-3 bg-white p-4 border border-zinc-200 shadow-sm rounded-sm">
        <div class="text-sm w-fit italic mb-2">@ViewBag.book.category</div>
        <h2 class="text-4xl font-semibold mb-1">@ViewBag.book.Title</h2>
        <div class="flex text-sm gap-2 text-zinc-500 mb-4">
            <div class="text-blue-600 ">@ViewBag.book.Author</div>
            <div>Language: @ViewBag.book.Language</div>
        </div>
        <div class="space-y-2">
            @foreach(var para in ViewBag.book.Description.Split("-=-")) {
                <p class="indent-6">@para</p>   
            }
        </div>

       
    </div>

    <div class="w-full col-span-2">
        <div class="bg-white border border-zinc-400 shadow-sm divide-y divide-zinc-200">
            @{
                string CoverPath = $"/assets/{ViewBag.book.Cover}"; 
            }
            <img src=@CoverPath class="block h-96 w-full object-cover" />
            <div class="text-xs text-center italic py-2">
                @ViewBag.book.Title Cover
                
                
               
            </div>
            <div class="px-4 py-2">
                <div>ISBN: @ViewBag.book.Isbn</div>
                <div>Published: @ViewBag.book.Published</div>
            </div>
       
         </div>
        <a  class="block bg-blue-500 border border-blue-800 px-4 py-2 text-white hover:bg-blue-600 font-semibold text-xl text-center" asp-controller="Books" asp-action="AddBook" asp-route-Id=@ViewBag.book.Id>Add Book</a>
    </div>

  

    

</div>
